// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

.cta-btns {
  text-align: center;
}

.hero-lead {
  margin-bottom: 30px;
}


// Image gallery
.image-gallery {
  padding-left: 0;

}

.image-gallery span {
  font-size: 12px;
}
